.acl-row {
  &__bar {
    &--bb {
      fill: $acl-bb;
    }

    &--ba {
      fill: $acl-ba;
    }

    &--pr {
      fill: $acl-pr;
    }

    &--ad {
      fill: $acl-ad;
    }
  }

  &__text {
    text-anchor: middle;

    &.is-shifted-right {
      text-anchor: start;
    }
  }
}
