.axis {
  &--vertical-left .axis__label {
    text-anchor: end;
  }

  &--horizontal-bottom .axis__label {
    text-anchor: middle;
  }

  &__line {
    stroke: $axis;
  }

  &__mark {
    stroke: $axis;
  }
}
