.grade-switcher [role=radio] {
  display: inline-block;
  width: 10em;
  padding: 0.5em;
  text-align: center;

  background-color: $radio-inactive;
  color: white;

  &[aria-checked=true] {
    background-color: $radio-active;
  }
}
