// Crappy demo of site-level element styling.
.site-header, .site-footer {
  @extend %u-clearfix;

  padding: 40px 20px;

  color: white;
  background-color: $brand-blue;

  &__inner {
    @include enforce-width;
  }
}
