%u-clearfix {
  clear: both;
}

%u-display-none {
  display: none;
}

%u-full-width {
  width: 100%;
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}
