// Contains color and dimension information.

// Brand colors
$brand-blue: #001871;
$brand-gold: #c69214;
$brand-green: #00a795;

$slate-grey: #d0cbc3;
$darker-grey: #a19788;

// Axis colors
$axis: grey;

// Chart series colors
$series-default: $brand-blue;

$series-0: lighten($brand-blue, 25%);
$series-1: lighten($brand-blue, 12.5%);
$series-2: $brand-blue;
$series-3: darken($brand-blue, 12.5%);
$series-4: darken($brand-blue, 25%);

// Chart percentile colors
$percentile-colors: (
  p1: $series-0,
  p2: $series-1,
  p5: $series-2,
  p7: $series-3,
  p9: $series-4,
);

// Legend dimensions
$legend-width: 250px;
$legend-height: 30px;
$legend-item-width: 30px;
$legend-item-height: 30px;

// Table colors
$table-header-back: $brand-blue;
$table-header-fore: white;
$table-even: white;
$table-odd: #f5f4f3;
$table-border: #e2dfdb;

// Cutpoint colors
$cutpoint-foreground: $slate-grey;
$cutpoint-background: $darker-grey;

// Radio colors
$radio-active: $brand-gold;
$radio-inactive: $brand-green;

// Dialog variables
$dialog-top-color: $brand-blue;
$dialog-background: $slate-grey;
$dialog-top: 30px;
