@import "util";
@import "reset";
@import "variables";

@import "animation";
@import "path";

@import "legend";
@import "figure";
@import "section";
@import "table";

@import "cutpoint";
@import "series";
@import "axis";

@import "grade-switcher";

html, body {
  font-family: sans-serif;
}

main {
  width: 1024px;
  margin: 0 auto;

  padding: 10px 0;
}

// Crappy demo of site-level element styling.
.site-header, .site-footer {
  @extend %u-clearfix;

  padding: 40px 20px;

  color: white;
  background-color: $brand-blue;

  &__inner {
    width: 1024px;
    margin: 0 auto;
  }
}
