// @file
// Styles for the secondary menu.

#secondary-nav {
  background: $taupe-30;
}

.secondary-nav__tiles {
    display: inline-block;
    margin: 0;
    padding: 16px 0 0;
    position: relative;
}

.secondary-nav__tile {
    box-sizing: border-box;
    display: inline-block; // remove when next/prev buttons in place
    margin: 0 1.25em;
    position: relative;
    vertical-align: top;
    width: 130px;

    @include breakpoint($desktop-width) {
        margin: 0 1.5em;
        width: 145px;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.secondary-nav__link {
    text-decoration: none;
    transition-duration: 0;

    &:hover,
    &:focus {
        .secondary-nav__caption {
            color: $orange-100;
            font-weight: 700;
        }

        .secondary-nav__thumbnail {
            border-color: $orange-100;
        }
    }

    &.is-active {
        &:hover,
        &:focus {
            .secondary-nav__caption {
                color: $green-100;
                font-weight: 700;
            }

            .secondary-nav__thumbnail {
                border-color: $green-100;
            }
        }
    }
}

.secondary-nav__caption {
    color: $blue-100;
    display: flex;
    flex-direction: column;
    font-size: .75em;
    font-weight: 400;
    height: 30px;
    justify-content: flex-end;
    line-height: 1.1;
    margin: 0 -0.5em .35em;
    text-align: center;
    transition-duration: 0;

    @include breakpoint($desktop-width) {
        font-size: .875em;
        line-height: 1.2em;
    }

    .is-active & {
        color: $green-100;
        font-weight: 700;
    }
}

.secondary-nav__thumbnail {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 90%;
    border: 3px solid transparent;
    border-bottom: none;
    box-sizing: border-box;
    display: inline-block;
    height: 94px;
    position: relative;
    text-align: center;
    text-indent: -999em;
    transition-duration: 0;
    width: 100%;

    .is-active & {
        border: 3px solid $green-100;
        border-bottom: 0;

        &:after {
            border-color: #fff transparent transparent transparent;
            border-style: solid;
            border-width: 8px 8px 0 8px;
            bottom: -8px;
            content: '';
            height: 0;
            left: 50%;
            margin-left: -8px;
            overflow: visible !important;
            position: absolute;
            width: 0;
        }
    }

    .tile0 & {
      background-image: url(../images/tile0.png);
    }
    .tile1 & {
      background-image: url(../images/tile1.png);
    }
    .tile2 & {
      background-image: url(../images/tile2.png);
    }
    .tile3 & {
      background-image: url(../images/tile3.png);
    }
    .tile4 & {
      background-image: url(../images/tile4.png);
    }
    .tile5 & {
      background-image: url(../images/tile5.png);
    }
    .tile6 & {
      background-image: url(../images/tile6.png);
    }
    .tile7 & {
      background-image: url(../images/tile0.png);
    }
    .tile8 & {
      background-image: url(../images/tile7.png);
    }
    .tile9 & {
      background-image: url(../images/tile8.png);
    }
    .tile10 & {
      background-image: url(../images/tile9.png);
    }
    .tile11 & {
      background-image: url(../images/tile10.png);
    }
    .tile12 & {
      background-image: url(../images/tile0.png);
    }
    .tile13 & {
      background-image: url(../images/tile1.png);
    }
    .tile14 & {
      background-image: url(../images/tile2.png);
    }
    .tile15 & {
      background-image: url(../images/tile0.png);
    }
}
