<div class="main__inner">
  <div class="section">
    <div class="section__inner">
      <div class="section__subtitle">About the NAEP Arts Assessment</div>
      <div class="section__commentary">
        <p>The National Assessment of Educational Progress (NAEP) arts assessment measures students’ knowledge and skills in the arts disciplines of music and visual arts. Students were evaluated in two arts processes — responding and creating. Responding questions in music asked students to respond to music in a variety of ways; students were asked to analyze, interpret, or critique a piece of music that they listened to or to describe the social, historical, or social context of a piece of music. Creating questions in music asked students to use musical notation to apply their musical ideas after evaluating written or recorded pieces of music. Responding questions in visual arts asked students to analyze, describe, or judge works of art and design to show understanding of form, aesthetics, and cultural or historical context. Creating questions in visual arts asked students to use form, media, or techniques to create original works of art and design to communicate an idea.</p>
        <p>In 2016, performance results at grade 8 were reported for the nation overall and for selected student demographic groups, such as race/ethnicity, gender, and the highest level of parental education.</p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section__inner">
      <div class="section__title">Placeholder text for the section title</div>
      <div class="section__subtitle">Some placeholder text for the section subtitle</div>
      <div class="section__commentary">
        <p>Vivamus suscipit, nostra accusamus, cumque fames suscipit sollicitudin, aliquid qui, error leo! Mauris tempor aliquet, quaerat corporis, laboriosam ipsum commodo quia aperiam tempora repudiandae, mauris fugit magnam aspernatur, dolorum, animi fermentum pellentesque dictumst officia amet ex, sapien non accusamus nam! Nec blandit nibh luctus? Massa nostrum mus dicta, inventore possimus dolor eiusmod explicabo debitis? Montes aut! Expedita molestie, quibusdam necessitatibus, magni fuga lacinia! Id, dictum dui modi, nascetur deleniti facilis adipisicing irure, cursus litora culpa corrupti? Dolorem dapibus diam lectus praesent vehicula, repudiandae quam, exercitationem semper reprehenderit! Ligula lectus potenti dolore class, tempor unde potenti, sodales, recusandae sed donec metus.</p>
        <p>Mus cursus voluptates. Urna! Numquam nascetur qui tenetur orci assumenda leo integer minus aut, velit a! Debitis nonummy, fermentum explicabo etiam, potenti egestas semper sodales consequatur. Sociosqu mollis anim aptent sodales venenatis cupidatat, gravida sunt. Dui. Sit id tincidunt adipiscing? Quidem, rhoncus? Blandit pretium erat. Iaculis mi sodales. Ab eos, massa laborum earum reiciendis modi numquam tortor cursus dictumst a? Nesciunt repellat dignissimos, sint. Et hendrerit, aute, voluptatibus anim doloribus consectetur molestiae porro exercitationem luctus. Nemo pellentesque facilis! Fringilla tempora natoque excepteur quae tristique suscipit accusantium rhoncus, eros occaecat ullamcorper? Wisi, hac inventore condimentum dicta elementum, qui reprehenderit! Dictum fusce.</p>
      </div>
    </div>
  </div>
</div>
<div class="main__footer">
	<div class="inner l-constrain"></div>
</div>
