<form class="data-table__form">
  <div class="data-selection">
    <label for="question">Select survey question</label>
    <select name="question" id="question">
      <option value="BM00003">How much do you agree that you have talent for music?</option>
      <option value="BM00010">When you take music class in school, how often does your teacher ask you to write down music?</option>
      <option value="BM80013">Do you play in a band in school?</option>
      <option value="BM80015">Do you sing in a chorus or choir in school?</option>
      <option value="BM80023">When you are not in school, do you ever play a musical instrument on your own?</option>
      <option value="BM80024">When you are not in school, do you ever take private lessons on a musical instrument or in singing?</option>
      <option value="BM80030">When you are not in school, do you ever talk with your family or friends about music?</option>
      <option value="BM80034">Have you ever listened to a musical performance in a theater?</option>
      <option value="SQ00701">Is there a full-time specialist on your school staff available to teach music to eighth graders?</option>
      <option value="SQ00202">Does your district or state have a curriculum in music that your school is expected to follow?</option>
      <option value="SQ00070">Which best describes the space for teaching and performing music in your school?</option>
    </select>
  </div>
  <div class="data-selection">
    <label for="variable">Select demographic group</label>
    <select name="variable" id="variable">
      <option value="TOTAL">All students</option>
      <option value="GENDER">Gender</option>
      <option value="SDRACE">Race/ethnicity</option>
      <option value="SLUNCH3">NSLP eligibility</option>
      <option value="PARED">Parental education level</option>
      <option value="SCHTYP2">Type of school</option>
      <option value="UTOL4">School location</option>
      <option value="CENSREG">Region of the country</option>
      <option value="IEP">Status as students with disabilities</option>
      <option value="ELL">Status as English language learners</option>
    </select>
  </div>
  <div class="data-submission">
    <a class="button button--custom" href="#">Create table</a> <span class="data-submission__note u-font-small u-color-green"><strong>This request will open the NAEP Data Explorer.</strong></span>
  </div>
</form>
