<form class="data-table__form">
  <div class="data-selection">
    <label for="question">Select survey question</label>
    <select name="question" id="question">
      <option value="BV00003">How much do you agree that you have talent for art?</option>
      <option value="BV00007">Are you taking an arts course now, or have you taken an arts course this year?</option>
      <option value="BV00008">When you have art in school, how often does your teacher have you paint or draw?</option>
      <option value="BV00019">Do either you or your teacher save your artwork in a portfolio?</option>
      <option value="BV80022">When you are not in school, do you ever go to an art museum or exhibit on your own time?</option>
      <option value="BV80023">When you are not in school, do you ever take art classes?</option>
      <option value="BV80024">When you are not in school, do you ever make artwork on your own?</option>
      <option value="BV80032">When you are not in school, do you ever keep an art journal or sketchbook on your own?</option>
      <option value="SQ00901">Is there a full-time specialist on your school staff available to teach visual arts to eighth graders?</option>
      <option value="SQ00204">Does your district or state have a curriculum in visual arts that your school is expected to follow?</option>
      <option value="SQ00072">Which best describes the space for the teaching of visual arts in your school?</option>
    </select>
  </div>
  <div class="data-selection">
    <label for="variable">Select demographic group</label>
    <select name="variable" id="variable">
      <option value="TOTAL">All students</option>
      <option value="GENDER">Gender</option>
      <option value="SDRACE">Race/ethnicity</option>
      <option value="SLUNCH3">NSLP eligibility</option>
      <option value="PARED">Parental education level</option>
      <option value="SCHTYP2">Type of school</option>
      <option value="UTOL4">School location</option>
      <option value="CENSREG">Region of the country</option>
      <option value="IEP">Status as students with disabilities</option>
      <option value="ELL">Status as English language learners</option>
    </select>
  </div>
  <div class="data-submission">
    <a class="button button--custom" href="#">Create table</a> <span class="data-submission__note u-font-small u-color-green"><strong>This request will open the NAEP Data Explorer.</strong></span>
  </div>
</form>
