<div class="footer-header">
	<div class="footer-header__inner l-constrain">
	  <div class="footer-header__links">
		  <a class="footer-header__link" href="#" data-footer-tab="summary">Download Data Tables</a>
		  <a class="footer-header__link" href="#" data-footer-tab="custom">Customize Data Tables</a>
		</div>
		<div class="footer-header__label">Related Links</div>
	</div>
</div>
<div class="footer-content">
	<div class="footer-content__inner l-constrain">
		<div class="footer-content-tables">
		</div>
		<div class="footer-content__related-links">
			<a class="footer-content__related-link" href="http://www.nationsreportcard.gov/about.aspx">About The Nation's Report Card</a>
      		<a class="footer-content__related-link" href="http://nces.ed.gov/nationsreportcard/about/">About the National Assessment of Educational Progress (NAEP)</a>
      		<a class="footer-content__related-link" href="http://www.nationsreportcard.gov/contacts.aspx">Contacts</a>
     		<a class="footer-content__related-link" href="http://www.nationsreportcard.gov/faq.aspx">FAQs</a>
     		<a class="footer-content__related-link" href="http://www.nationsreportcard.gov/glossary.aspx?ispopup=false">Glossary</a>
      		<ul class="footer-content__social-media">
				<li>Follow Us</li>                
            	<li><a class="icon_twitter" title="Follow us on Twitter" aria-label="Follow us on Twitter" href="https://twitter.com/naep_nces" data-twitter=""></a></li>
            	<li><a class="icon_facebook" title="Follow us on Facebook" aria-label="Follow us on Facebook" href="https://www.facebook.com/NationalAssessmentofEducationalProgress" data-facebook=""></a></li>                	       
			</ul>
		</div>
	</div>
</div>
