<div class="footer__header">
  	<div class="l-constrain">
		  <div class="footer__tabs">
			  <a href="#" data-footer-tab="summary">Download Data Tables</a>
			  <a href="#" data-footer-tab="custom">Customize Data Tables</a>
			</div>
			<div class="footer__related-links">Related Links</div>
		</div>
	</div>
	<div class="footer__content">
		<div class="l-constrain">
			<div class="footer__tabs-content">
			</div>
			<div class="footer__related-links-content">
				<a href="http://www.nationsreportcard.gov/about.aspx">About The Nation's Report Card</a>
	      <a href="http://nces.ed.gov/nationsreportcard/about/">About the National Assessment of Educational Progress (NAEP)</a>
	      <a href="http://www.nationsreportcard.gov/contacts.aspx">Contacts</a>
	      <a href="http://www.nationsreportcard.gov/faq.aspx">FAQs</a>
	      <a href="http://www.nationsreportcard.gov/glossary.aspx?ispopup=false">Glossary</a>
			</div>
		</div>
	</div>
