<div class="gap-selector__row">
  <div class="gap-selector__cell">JURISDICTION:</div>
  <div class="gap-selector__cell">STUDENT Group 1:</div>
  <div class="gap-selector__cell">STUDENT GROUP 2:</div>
  <div class="gap-selector__cell">ADD CROSSTAB:</div>
  <div class="gap-selector__cell">ADD GAP:</div>
</div>

<div class="gap-selector__row">
  <div class="gap-selector__cell is-scrollable">
    <select data-category="jurisdiction"></select>
  </div>
  <div class="gap-selector__cell is-scrollable">
    <select data-category="focal"></select>
  </div>
  <div class="gap-selector__cell">
    <select data-category="target"></select>
  </div>
  <div class="gap-selector__cell">
    <select data-category="cross-tab"></select>
  </div>
  <div class="gap-selector__button">
    <a href="#">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </a>
  </div>
</div>
