<div class="header__inner l-constrain">
  <div class="site-name">
  	<h1><a href="#/" title="Home" rel="home"><span class="site-name__year">2016</span> <span class="site-name__divider">|</span> Arts</a></h1>
  </div>
  <div class="print">
	  <a class="print__link" title="Print this page" aria-label="Print this page" href="#" data-print>Print</a>
	</div>
</div>
<nav class="region-nav">
	<div class="nav__inner l-constrain">
	  <ul class="nav--main">
	    <li><a class="js-link-homepage" href="#/">Home</a></li>
	    <li><a class="js-link-music" href="#/music/overall-results">Music</a></li>
	    <li><a class="js-link-visual-arts" href="#/visual-arts/overall-results">Visual Arts</a></li>
	    <li><a class="js-link-about" href="#/about">About</a></li>
	  </ul>
	</div>
</nav>

