<div class="main__inner">
  <div class="section section--hp-first" id="section-1">
    <div class="section__inner">
      <div class="hero">
        <div class="hero__content">
          <h2 class="hero__title">Sixty-three percent of eighth-graders took a music class; 42 percent took an art class in 2016</h2>
          <h3 class="hero__subtitle">Average scores and coursetaking not significantly different from 2008; regional and gender score differences apparent</h3>
          <p>Average scores for eighth&ndash;graders were not significantly different between 2008 and 2016, nor were there significant differences in the percentages of students who reported taking music and/or visual arts classes. However, lower percentages of students reported engaging in some music or visual arts activities outside of school between 2008 and 2016. In addition, average scores differed by gender and regionally across the country in 2016. Students were assessed separately on <a data-glossary-term="responded" href="#">responding</a> to existing works of music and visual art and <a data-glossary-term="created" href="#">creating</a> their own original artwork.</p>
          <div class="hero__links">
            <a class="button button-w-arrow hero__link" href="#/music/overall-results">Music</a>
            <a class="button button-w-arrow hero__link" href="#/visual-arts/overall-results">Visual Arts</a>
          </div>
        </div>
      </div>
      <div class="row__note">&copy; ChamilleWhite/iStockphoto #514627514</div>
      <div class="row row--two">
        <div class="row__item--one-of-two">
          <div class="featured-image featured-image-1">
            <img class="featured-image__image" alt="Illustration shows that, on a scale of 0 to 300, the average score in music for eighth-graders in 2016 was 147 compared to 150 in 2008. In 2016, sixty-three percent of eighth-graders reported taking a music class compared to 64 percent in 2008." src="images/homepage-feature-left.svg" />
            <div class="featured-image__links">
              <a class="button button-w-arrow" href="#/music/overall-results"><span>Explore Music</span></a>
            </div>
          </div>
        </div>
        <div class="row__item--one-of-two">
          <div class="featured-image featured-image-2">
            <img class="featured-image__image" alt="Illustration shows that, on a scale of 0 to 300, the average score in visual arts for eighth-graders in 2016 was 149 compared to 150 in 2008. In 2016, forty-two percent of eighth-graders reported taking an art class compared to 45 percent in 2008." src="images/homepage-feature-right.svg" />
            <div class="featured-image__links">
              <a class="button button-w-arrow" href="#/visual-arts/overall-results">Explore Visual Arts</a>
            </div>
          </div>
        </div>
      </div>

      <p class="u-centered u-text-align-center u-text-max-width-80 u-font-medium u-margin-double-top">In 2016, a total of 8,800 eighth&ndash;graders in the nation's public and private schools responded to and critiqued existing works of music and visual art and created their own original artwork. View <a href="#section-2">summary information about the assessments below</a> or <a href="#/about">read complete information in the About section</a>.</p>
    </div>
  </div>
  <div class="section section--gray" id="section-2">
    <div class="section__inner">
      <div class="section__title section__title--homepage">Overview of Results</div>
      <div class="section__contents section__contents--homepage clearfix">
        <figure class="figure--home-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Knxf2O1_n-I?rel=0" frameborder="0" allowfullscreen />
        </figure>
        <p>Watch a video or explore a PDF for an overview of the arts assessment results. </p>
        <div class="link-box">
          <a href="files/infographic_2016_arts_01.pdf" class="link-box__icon">Explore More Arts Results</a>
          <a href="files/infographic_2016_arts_01.pdf" class="link-box__title">Explore More Arts Results</a>
          <div class="link-box__description">
            Read a quick summary of the 2016 performance.<br><span class="u-pdf">(PDF - 5.1MB)</span>
          </div>
        </div>
        <div class="link-box">
          <a href="files/infographic_2016_arts_02.pdf" class="link-box__icon">NAEP Arts Assessment 101</a>
          <a href="files/infographic_2016_arts_02.pdf" class="link-box__title">NAEP Arts Assessment 101</a>
          <div class="link-box__description">
            Read a quick summary of the 2016 performance.<br><span class="u-pdf">(PDF - 5.1MB)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--white" id="section-3">
    <div class="section__inner">
      <div class="section__title section__title--homepage">STUDENT GROUP SCORE GAPS</div>
      <p class="u-font-medium">In both music and visual arts in 2016</p>
      <ul class="u-font-medium">
        <li>Female students scored higher on average than their male peers.</li>
        <li>Students not eligible for the National School Lunch Program (NSLP) scored higher on average than students eligible for NSLP.</li>
        <li>Students in suburban schools scored higher on average than those in city schools.</li>
        <li>Students in private schools scored higher on average than those in public schools.</li>
      </ul>
      <div class="section__contents section__contents--homepage">
        <figure class="figure">
          <figcaption>Average responding score gaps for eighth&ndash;grade students assessed in NAEP music and visual arts, by selected student groups: 2016</figcaption>
          <img src="images/art_gaps5.png" alt="Illustration shows that for selected student groups of eighth-graders in 2016, there were significant gaps in the average responding scores in both music and visual arts. On average in music, female students scored 15 points higher than their male peers; students who were not eligible for the National School Lunch Program scored 26 points higher than their peers who were eligible for the program; students in the suburbs scored 13 points higher than students in the city; and students in private schools scored 14 points." />
        </figure>
      </div>
      <p class="u-font-medium">This report provides additional details about trends in student group performance. For example, in 2016 the score gap between White and Hispanic students narrowed in both music and visual arts. Asian/Pacific Islander students scored higher on average than White students in 2016 in visual arts, while there was no significant difference between their scores in 2008.</p>
      <div class="u-text-align-center">
        <a class="button" href="#/music/score-gaps">Explore Student Group Results in Music</a>
        <a class="button" href="#/visual-arts/score-gaps">Explore Student Group Results in Visual Arts</a>
      </div>
    </div>
  </div>
  <div class="section section--gray" id="section-4">
    <div class="section__inner">
      <div class="section__title section__title--homepage">STUDENTS' OPPORTUNITIES AND ACCESS IN THE ARTS</div>
      <div class="switcher">
        <div role="radio" name="subject-switcher-radio" data-subject="music" tabindex="0" class="checked" aria-checked="true">Music</div>
        <div role="radio" name="subject-switcher-radio" data-subject="visual-arts" tabindex="0" aria-checked="false">Visual Arts</div>
      </div>
      <div class="section__contents section__contents--homepage">
        <p class="u-font-medium">Key findings in the 2016 results are as follows:</p>
        <ul class="u-font-medium">
          <li>In music, female students scored higher on average than their male peers, and students in private schools had higher average scores than students attending public schools.</li>
          <li>Students in the Northeast scored higher on average in visual arts than their peers in the other regions.</li>
          <li>There were no significant differences in the percentages of students who reported taking a music class between male and female students and between students attending public and private schools.</li>
          <li>A higher percentage of students in the Northeast reported taking a visual arts course than their peers in the other regions.</li>
        </ul>
        <figure class="figure figure--music-percentages">
          <figcaption>Average responding score of eighth-grade students assessed in NAEP music and percentage of students who reported taking a music class in school, by selected student groups: 2016</figcaption>
          <img src="images/music-percentages.png" alt="Average responding score of eighth-grade students assessed in NAEP music and percentage of students who reported taking a music class in school, by selected student groups: 2016" />
        </figure>
        <figure class="figure figure--visual-arts-percentages element-invisible">
          <figcaption>Average responding score of eighth-grade students assessed in NAEP visual arts and percentage of students who reported taking a visual arts course in school, by region of the country: 2016</figcaption>
          <img class="u-margin-triple-top u-centered" src="images/visual-arts-percentages.png" alt="Average responding score of eighth-grade students assessed in NAEP visual arts and percentage of students who reported taking a visual arts course in school, by selected student groups: 2016" />
        </figure>
      </div>
      <div class="u-text-align-center">
        <a class="button" href="#/music/opportunities-and-access">Explore Opportunities &amp; Access in Music</a>
        <a class="button" href="#/visual-arts/opportunities-and-access">Explore Opportunities &amp; Access in Visual Arts</a>
      </div>
      <div class="main__footer">
        <div class="inner"></div>
      </div>
    </div>
  </div>
  <div class="section section--white" id="section-5">
    <div class="section__inner">
      <div class="section__title section__title--homepage">About the Assessment</div>
      <div class="box__row">
        <div class="box--one-of-two">
          <div class="section__subtitle-sm--homepage">Music portion of the assessment</div>
          <p class="u-font-medium">Students' ability to <a data-glossary-term="responding-process" href="#">respond</a> to music was measured in various ways. Responding questions asked students to analyze and describe aspects of music they heard, critique instrumental and vocal performances, and demonstrate their knowledge of standard musical notation and music's role in society. For example, after listening to a piece of music, students were asked to identify the music's region of origin and to describe a feature of the music that helped them to identify the part of the world that they selected. The average <a data-glossary-term="music-responding-score" href="#">responding score</a> for music was reported on a 0&ndash;300 scale.</p>
          <p class="u-font-medium">The assessment included one music creating question; therefore, only average scale scores for the responding process were reported for the 2016 arts assessment.</p>
          <a class="button" href="#/music/sample-questions">Explore Sample Questions in Music</a>
        </div>
        <div class="box--one-of-two">
          <div class="section__subtitle-sm--homepage">Visual arts portion of the assessment</div>
          <p class="u-font-medium">The assessment measured students' ability to <a data-glossary-term="responding-process" href="#">respond</a> to art as well as their ability to <a data-glossary-term="visual-arts-create" href="#">create</a> original artwork. Responding questions asked students to analyze and describe works of art and design. For example, a responding question asked students to analyze the aesthetic properties of two self-portraits created by twentieth-century artists and to identify technical similarities between the two artworks. The average responding score for visual arts was reported on a 0&ndash;300 scale.</p>
          <p class="u-font-medium">Creating questions required students to design and create their own works of art. For example, students were asked to create a self-portrait that was scored for identifying detail, compositional elements, and use of a variety of provided <a href="#/about?anchor=design">arts materials</a>. The average <a data-glossary-term="visual-arts-score" href="#">creating task score</a> was reported separately from responding scores as the average percentage of the maximum possible score from 0&ndash;100.</p>
          <a class="button" href="#/visual-arts/sample-questions">Explore Sample Questions in Visual Arts</a>
        </div>
      </div>

      <div class="story-of-naep">
        <h3>The Story of NAEP</h3>
        <p>The National Assessment of Educational Progress (NAEP) is a continuing and nationally representative measure of trends in academic achievement of U.S. elementary and secondary students in various subjects. It is the largest continuing and nationally representative assessment of what our nation's students know and can do in select subjects. It was first administered in 1969 to measure student achievement nationally. Teachers, principals, parents, policymakers, and researchers all use NAEP results to assess progress and develop ways to improve education in the United States. <a target="_blank" href="http://nces.ed.gov/nationsreportcard/about/">Read more</a></p>
      </div>
    </div>
  </div>
</div>
