<div class="main__inner">
  <div class="section section--first" id="section-1">
    <div class="section__inner">
      <div class="section__subtitle section__subtitle--homepage">Eighth&ndash;graders' scores in music and visual arts, as well as percentages taking arts courses, unchanged since 2008</div>
      <p>Average scores for eighth&ndash;graders were not significantly different between 2016 and 2008. Students who reported taking courses in music and visual arts scored higher than those not taking such classes. While the percentages of students who reported taking music and/or visual arts classes did not change significantly, lower percentages of students reported engaging in some music or visual arts activities outside of school between 2016 and 2008.</p>
      <p>In 2016, a total of 8,800 eighth&ndash;graders in the nation's public and private schools responded to and critiqued existing works of music and visual art and created their own original artwork.</p>
      <p>Read more about the <a href="#/about">music</a> and <a href="#/about">visual arts</a> assessments.</p>
      <div class="featured-images">
        <div class="featured-image featured-image-1">
          <div class="featured-image__title">No significant change in 2016 average scale score</div>
          <img alt="Graph showing no significant change in 2016 average scale score" src="images/homepage-feature-1.svg" />
        </div>
        <div class="featured-image featured-image-2">
          <div class="featured-image__title">Students taking visual arts &amp; music classes scored higher</div>
          <img alt="Graph showing that students with access to the arts scored higher" src="images/homepage-feature-2.svg" />
        </div>
        <div class="featured-image featured-image-3">
          <div class="featured-image__title">Percentage of students engaging with arts education outside school declined</div>
          <img alt="Graph showing that the percentage of students engaging with arts education outside school declined" src="images/homepage-feature-3.svg" />
        </div>
      </div>
      <p>The illustrations above are not intended to represent actual data. Explore detailed results for <a href="#/music/overall-results">music</a> and <a href="#/visual-arts/overall-results">visual arts</a>.</p>
    </div>
  </div>
  <div class="section section--gray" id="section-2">
    <div class="section__inner">
      <div class="section__title section__title--homepage">Overview of Results</div>
      <div class="section__contents section__contents--homepage clearfix">
        <figure class="figure--home-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Knxf2O1_n-I?rel=0" frameborder="0" allowfullscreen />
        </figure>
        <p>Watch a video or explore a PDF for an overview of the arts assessment results. </p>
        <div class="link-box">
          <a href="files/overview.pdf" class="link-box__icon">Arts Results</a>
          <a href="files/overview.pdf" class="link-box__title">Arts Results</a>
          <div class="link-box__description">
            Read a quick summary of the 2016 performance.<br><span class="u-pdf">(PDF - 5.1MB)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--white" id="section-3">
    <div class="section__inner">
      <div class="section__title section__title--homepage">STUDENT GROUP SCORE GAPS</div>
      <p>In both music and visual arts in 2016:</p>
      <ul>
        <li>Female students outperformed their male peers.</li>
        <li>Students not eligible for the National School Lunch Program (NSLP) outperformed students eligible for NSLP.</li>
        <li>Students in suburban schools outperformed those in city schools.</li>
        <li>Students in private schools outperformed those in public schools.</li>
      </ul>
      <div class="section__contents section__contents--homepage">
        <figure class="figure">
          <figcaption class="u-margin-triple-top"><strong>Score gaps for eighth-grade students assessed in NAEP music and visual arts, by selected student groups: 2016</strong></figcaption>
          <img class="u-margin-double-top u-centered" src="images/art_gaps2.png" alt="Score gaps for eighth-grade students assessed in NAEP music and visual arts, by selected student groups: 2016" />
        </figure>
      </div>
      <div class="section__title section__subtitle-sm--homepage u-margin-triple-top">Explore trends by student groups</div>
      <p>This report provides additional details about trends in student group performance. For example, in 2016 the score gap between White and Hispanic students narrowed in both music and visual arts. Asian/Pacific Islanders outperformed White students in 2016 in visual arts, while there was no significant difference between their scores in 2008.</p>
      <p>Explore results for student group trends in <a href="#/music/score-gaps">music</a> and <a href="#/visual-arts/score-gaps">visual arts</a>.</p>
    </div>
  </div>
  <div class="section section--gray" id="section-4">
    <div class="section__inner">
      <div class="section__title section__title--homepage">STUDENTS' OPPORTUNITIES AND ACCESS IN THE ARTS</div>
      <div class="switcher">
        <div role="radio" name="subject-switcher-radio" data-subject="music" tabindex="0" class="checked" aria-checked="true">Music</div>
        <div role="radio" name="subject-switcher-radio" data-subject="visual-arts" tabindex="0" aria-checked="false">Visual Arts</div>
      </div>
      <div class="section__contents section__contents--homepage">
        <figure class="figure--music-percentages">
          <figcaption>Average responding score of eighth-grade students assessed in NAEP music and percentage of students who reported taking a music class in school, by selected student groups: 2016</figcaption>
          <img class="u-margin-triple-top u-centered" src="images/music-percentages.png" alt="Average responding score of eighth-grade students assessed in NAEP music and percentage of students who reported taking a music class in school, by selected student groups: 2016" />
        </figure>
        <figure class="figure--visual-arts-percentages element-invisible">
          <figcaption>Average responding score of eighth-grade students assessed in NAEP visual arts and percentage of students who reported taking a visual arts course in school, by selected student groups: 2016</figcaption>
          <img class="u-margin-triple-top u-centered" src="images/visual-arts-percentages.png" alt="Average responding score of eighth-grade students assessed in NAEP visual arts and percentage of students who reported taking a visual arts course in school, by selected student groups: 2016" />
        </figure>
        <div style="font-size: small;">NOTE: NSLP = National School Lunch Program.</div>
      </div>
      <div class="section__title section__subtitle-sm--homepage u-margin-triple-top">Key findings in 2016:</div>
      <ul>
        <li>White and Asian/Pacific Islander students outperformed their Black and Hispanic peers in both music and visual arts.</li>
        <li>Students eligible for NSLP scored lower in both music and visual arts than those not eligible.</li>
        <li>There were no significant differences in the percentages of students who reported taking music class across selected race/ethnicity groups and for students eligible and not eligible for NSLP.</li>
        <li>Higher percentages of White students reported taking visual arts classes than their Black and Hispanic peers.</li>
      </ul>
      <p>Explore results for student group performance in <a href="#/music/score-gaps">music</a> and <a href="#/visual-arts/score-gaps">visual arts</a>.</p>
      <div class="main__footer l-constrain">
        <div class="inner l-constrain"></div>
      </div>
    </div>
  </div>
  <div class="section section--white" id="section-5">
    <div class="section__inner">
      <div class="section__title section__title--homepage">About the Assessment</div>
        <div class="section__title section__subtitle-sm--homepage">Music portion of the assessment</div>
        <p>Students' ability to respond to music was measured in various ways. Students were asked to analyze and describe aspects of music they heard, critique instrumental and vocal performances, and demonstrate their knowledge of standard musical notation and music's role in society. For example, after listening to a piece of music, students were asked to identify the music's region of origin and to describe a feature of the music that helped them to identify the part of the world that they selected. The average responding score for music was reported on a 0&ndash;300 scale. The assessment included one music creating question; therefore, only the responding process in music was reported for the 2016 arts assessment.</p>
        <p>See music <a href="#/music/sample-questions">Sample Questions</a> to learn more about how students were assessed in music.</p>
        <div class="section__title section__subtitle-sm--homepage">Visual arts portion of the assessment</div>
        <p>The assessment measured students' ability to respond to art as well as their ability to create original artwork. Responding questions asked students to analyze and describe works of art and design. The average responding score for visual arts was reported on a 0&ndash;300 scale. Creating questions required students to design and create their own works of art. For example, students were asked to create a self-portrait that was scored for identifying detail, compositional elements, and use of a variety of provided <a href="#/about?anchor=design">arts materials</a>. The average creating task score was reported separately from responding scores as the average percentage of the maximum possible score from 0 to 100.</p>
        <p>See visual arts <a href="#/visual-arts/sample-questions">Sample Questions</a> to learn more about how students were assessed in visual arts.</p>
        <p><a href="#/about">More about the arts assessment</a></p>
      </div>
    </div>
  </div>
  <div class="section section--gray" id="section-6">
    <div class="section__inner">
      <div class="story-of-naep">
        <h3>The Story of NAEP</h3>
        <p>The National Assessment of Educational Progress (NAEP) is a continuing and nationally representative measure of trends in academic achievement of U.S. elementary and secondary students in various subjects. It is the largest continuing and nationally representative assessment of what our nation's students know and can do in select subjects. It was first administered in 1969 to measure student achievement nationally. Teachers, principals, parents, policymakers, and researchers all use NAEP results to assess progress and develop ways to improve education in the United States. <a target="_blank" href="http://nces.ed.gov/nationsreportcard/about/">Read more</a></p>
      </div>
    </div>
  </div>
</div>
