<div class="main__inner">
  <div class="section section--first" id="section-1">
    <div class="section__inner">
      <div class="section__subtitle section__subtitle--homepage">NAEP examines students' ability to understand and create music and visual arts</div>
      <p>The 2016 NAEP arts assessment was given to eighth-graders across the nation. Approximately one-half of these students were assessed in <a href="#/about?anchor=design">music</a>, while the other half were assessed in <a href="#/about?anchor=design">visual arts</a>.</p>
      <p>Students responded to and critiqued existing works of music and visual art and created their own original artwork. In addition, the arts assessment asked students about their opportunities to access and engage in <a href="#/music/opportunities-and-access">music</a> and <a href="#/visual-arts/opportunities-and-access">visual arts</a> both in and outside of school. There was also a questionnaire for school administrators that focused on resources and school demographics regarding <a href="#/music/opportunities-and-access">music</a> and <a href="#/visual-arts/opportunities-and-access">visual arts</a>.</p>
      <div class="section__title section__title--homepage">Music portion of the assessment</div>
      <p>Students' ability to respond to music was measured in various ways. Students were asked to analyze and describe aspects of music they heard, critique instrumental and vocal performances, and demonstrate their knowledge of standard musical notation and music's role in society. For example, after listening to a piece of music, students were asked to identify the music's region of origin and to describe a feature of the music that helped them to identify the part of the world that they selected. The average responding score for music was reported on a 0&ndash;300 scale. The assessment included one music creating question; therefore, only the responding process in music was reported for the 2016 arts assessment.</p>
      <p>See music <a href="#/music/sample-questions">Sample Questions</a> to learn more about how students were assessed in music.</p>
      <div class="section__title section__title--homepage">Visual arts portion of the assessment</div>
      <p>The assessment measured students' ability to respond to art as well as their ability to create original artwork. Responding questions asked students to analyze and describe works of art and design. The average responding score for visual arts was reported on a 0&ndash;300 scale. Creating questions required students to design and create their own works of art. For example, students were asked to create a self-portrait that was scored for identifying detail, compositional elements, and use of a variety of provided <a href="#/about?anchor=design">arts materials</a>. The average creating task score was reported separately from responding scores as the average percentage of the maximum possible score from 0 to 100.</p>
      <p>See visual arts <a href="#/visual-arts/sample-questions">Sample Questions</a> to learn more about how students were assessed in visual arts.</p>
      <p><a href="#/about">More about the arts assessment</a></p>
    </div>
  </div>
  <div class="section section--gray" id="section-2">
    <div class="section__inner">
      <div class="section__title section__title--homepage">Highlights of what we learned about eighth&ndash;grade students</div>
      <div class="featured-images">
        <div class="featured-image featured-image-1">
          <div class="featured-image__title">No significant change in 2016 average scale score</div>
          <img alt="Graph showing no significant change in 2016 average scale score" src="images/homepage-feature-1.svg" />
        </div>
        <div class="featured-image featured-image-2">
          <div class="featured-image__title">Students taking visual arts &amp; music classes scored higher</div>
          <img alt="Graph showing that students with access to the arts scored higher" src="images/homepage-feature-2.svg" />
        </div>
        <div class="featured-image featured-image-3">
          <div class="featured-image__title">Percent of students engaging with arts education outside school declined</div>
          <img alt="Graph showing that the percentage of students engaging with arts education outside school declined" src="images/homepage-feature-3.svg" />
        </div>
      </div>
      <div class="box__row box__row--last">
        <div class="box">
          <div class="box__content box__content">
            <p>Average scores for eighth&ndash;graders were not significantly different between 2016 and 2008. In 2016 the score gap between White and Hispanic students narrowed in both music and visual arts, while there were no significant changes in the score differences for other selected groups.</p>
          </div>
        </div>
         <div class="box">
          <div class="box__content box__content">
            <p>The average responding scores in 2016 for eighth&ndash;graders who reported taking courses in music and visual arts were higher than those who reported not taking such classes.</p>
          </div>
        </div>
        <div class="box">
          <div class="box__content box__content">
            <p>In general, lower percentages of students reported engaging in music or visual arts activities outside of school in 2016, while, the percentages of students who reported taking music and/or visual arts classes did not change significantly between 2016 and 2008.</p>
          </div>
        </div>
      </div>
      <p>See more details in overall results for <a href="#/music/overall-results">music</a> and <a href="#/visual-arts/overall-results">visual arts</a>.</p>
    </div>
  </div>
  <div class="section section--white" id="section-3">
    <div class="section__inner">
      <div class="section__title section__title--homepage">KEY FINDINGS</div>
      <ul>
        <li>White and Asian/Pacific Islander students outperformed their Black and Hispanic peers in both music and visual arts.</li>
        <li>Students eligible for the National School Lunch Program (NSLP) scored lower in both subjects than those not eligible.</li>
        <li>There were no significant differences in the percentage of students who reported taking a music class across selected race/ethnicity groups and for students eligible and not eligible for NSLP.</li>
        <li>Higher percentages of White students reported taking visual arts classes than their Black and Hispanic peers.</li>
      </ul>
      <p>Explore results for student group performance in <a href="#/music/score-gaps">music</a> and <a href="#/visual-arts/score-gaps">visual arts</a>.</p>
      <div class="switcher">
        <div role="radio" name="subject-switcher-radio" data-subject="music" tabindex="0" class="checked" aria-checked="true">Music</div>
        <div role="radio" name="subject-switcher-radio" data-subject="visual-arts" tabindex="0" aria-checked="false">Visual Arts</div>
      </div>
      <div class="section__contents section__contents--homepage">
        <figure class="figure--music-percentages">
          <figcaption>Percentages and average music responding scores of eighth-graders who reported taking music class in the school year assessed, by selected student groups: 2016</figcaption>
          <img class="u-margin-triple-top u-centered" src="images/music-percentages.png" alt="Percentages and average music responding scores of eighth-graders who reported taking music class in the school year assessed, by selected student groups: 2016" />
        </figure>
        <figure class="figure--visual-arts-percentages element-invisible">
          <figcaption>Percentages and average visual arts responding scores of eighth-graders who reported taking an art course in the school year assessed, by selected student groups: 2016</figcaption>
          <img class="u-margin-triple-top u-centered" src="images/visual-arts-percentages.png" alt="Percentages and average visual arts responding scores of eighth-graders who reported taking an art course in the school year assessed, by selected the student groups: 2016" />
        </figure>
        <div style="font-size: small;">NOTE: NSLP = National School Lunch Program.</div>
      </div>
      <div class="main__footer l-constrain">
        <div class="inner l-constrain"></div>
      </div>
    </div>
  </div>
  <div class="section section--gray" id="section-4">
    <div class="section__inner">
      <div class="section__title section__title--homepage">Overview of Results</div>
      <div class="section__contents section__contents--homepage clearfix">
        <figure class="figure--home-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Knxf2O1_n-I?rel=0" frameborder="0" allowfullscreen />
        </figure>
        <p>Watch a video or explore a PDF for an overview of the arts assessment results. </p>
        <div class="link-box">
          <a href="files/overview.pdf" class="link-box__icon">Arts Results</a>
          <a href="files/overview.pdf" class="link-box__title">Arts Results</a>
          <div class="link-box__description">
            Read a quick summary of the 2016 performance.<br><span class="u-pdf">(PDF - 5.1MB)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section--white" id="section-5">
    <div class="section__inner">
      <div class="story-of-naep">
        <h3>The Story of NAEP</h3>
        <p>The National Assessment of Educational Progress (NAEP) is a continuing and nationally representative measure of trends in academic achievement of U.S. elementary and secondary students in various subjects. It is the largest continuing and nationally representative assessment of what our nation's students know and can do in select subjects. It was first administered in 1969 to measure student achievement nationally. Teachers, principals, parents, policymakers, and researchers all use NAEP results to assess progress and develop ways to improve education in the United States. <a target="_blank" href="http://nces.ed.gov/nationsreportcard/about/">Read more</a></p>
      </div>
    </div>
  </div>
</div>
