<div class="item-map__header">
  <div class="item-map__header-left">&nbsp;</div>
  <div class="item-map__header-center">Students with an<br>average score of &hellip;</div>
  <div class="item-map__header-right">&hellip; would be likely to answer this question correctly or use this knowledge or skill</div>
</div>
<div class="item-map__scale item-map__scale--top">
  <div class="item-map__scale-text">Top of scale</div>
  <div class="item-map__scale-value">300</div>
</div>
<ul class="item-map__items">
  <li class="item-map__item">
    <div class="item-map__item__score">231</div>
    <div class="item-map__item__question">Describe an emotion or mood created by a composition and two ways in which they were created</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">230</div>
    <div class="item-map__item__question">Identify and describe errors in pitch in an instrumental solo</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">227</div>
    <div class="item-map__item__question">Describe a similarity and a difference between two written vocal parts</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">226</div>
    <div class="item-map__item__question">Identify the solo instrument beginning "Rhapsody in Blue"</div>
    <div class="item-map__item__link"><a href="#" data-naepid="UF00004">View sample question above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">196</div>
    <div class="item-map__item__question">Identify the type of instrumental ensemble performing an excerpt</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">191</div>
    <div class="item-map__item__question">Select a line drawing reflective of the texture of an example of music</div>
    <div class="item-map__item__link"><a href="#" data-naepid="UD00002">View sample question above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">190</div>
    <div class="item-map__item__question">Identify the name of piano dynamic marking and explain its meaning </div>
    <div class="item-map__item__link"><a href="#" data-naepid="UE00006">View sample question above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">189</div>
    <div class="item-map__item__question">Provide an explanation of why spirituals were important in people's lives</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">187</div>
    <div class="item-map__item__question">Identify the term for a fermata symbol</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">181</div>
    <div class="item-map__item__question">Identify the name of a pitch shown in the treble clef</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">175</div>
    <div class="item-map__item__question">Identify a correct time signature for a piece of music</div>
    <div class="item-map__item__link"><a href="#" data-naepid="UE00005">View sample question above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">173</div>
    <div class="item-map__item__question">Identify region where music comes from and explain its style characteristics</div>
    <div class="item-map__item__link"><a href="#" data-naepid="UDCL009">View sample question above</a></div>
  </li>
  <li class="item-map__item item-map__item--cut-point">
    <div class="cutpoint-level">75th Percentile</div>
    <div class="cutpoint-value">171</div>
    <div class="cutpoint-bar">&nbsp;</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">168</div>
    <div class="item-map__item__question">Identify a bass clef symbol</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">167</div>
    <div class="item-map__item__question">Describe a specific feature of a song that identifies it as a spiritual</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">154</div>
    <div class="item-map__item__question">Provide an accurate and specific comparison between the tone color of two different singers</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">152</div>
    <div class="item-map__item__question">Identify the length of the introduction of "Shalom My Friends"</div>
  </li>
  <li class="item-map__item item-map__item--average">
    <div class="average-text">Average Score</div>
    <div class="average-value">147</div>
    <div class="average-bar">&nbsp;</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">135</div>
    <div class="item-map__item__question">Identify directional contour of part of melodic phrase</div>
  </li>
  <li class="item-map__item item-map__item--cut-point">
    <div class="cutpoint-level">25th Percentile</div>
    <div class="cutpoint-value">125</div>
    <div class="cutpoint-bar">&nbsp;</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">125</div>
    <div class="item-map__item__question">Identify region where music comes from and partially explain its style characteristics</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">86</div>
    <div class="item-map__item__question">Describe an emotion or mood created by a composition and two ways in which they were created</div>
  </li>
</ul>
<div class="item-map__scale item-map__scale--bottom">
  <div class="item-map__scale-text">Bottom of scale</div>
  <div class="item-map__scale-value">0</div>
</div>
