<div class="item-map__header">
  <div class="item-map__header__left">Students with an average score of...</div>
  <div class="item-map__header__center">... were likely to answer this question correctly or use this knowledge or skill</div>
</div>
<div class="item-map__scale item-map__scale--top">
  <div class="item-map__scale-text">Top of scale</div>
  <div class="item-map__scale-value">300</div>
</div>
<ul clas="item-map__items">
  <li class="item-map__item">
    <div class="item-map__item__score">297</div>
    <div class="item-map__item__question">Label and describe one or two features of Bearden collage that the artist wants you to notice</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">281</div>
    <div class="item-map__item__question">Support plausible interpretation of Schiele self-portrait with observations about style, line, and color</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">265</div>
    <div class="item-map__item__question">Identify the style of an artwork as surrealism</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">250</div>
    <div class="item-map__item__question">Analyze and support with references to the work the narrative conveyed by Bearden collage  </div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">239</div>
    <div class="item-map__item__question">Explain the relationship between technical approach and meaning in an artist's self-portrait </div>
    <div class="item-map__item__link"><a href="#" data-accordion-id="4">View details above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">236</div>
    <div class="item-map__item__question">Describe at least three aspects of own self-portrait that communicate something about you</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">221</div>
    <div class="item-map__item__question">Explain how artist used light and shadow to create realism in mother/child portrait</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">217</div>
    <div class="item-map__item__question">Explain three ways an artist made some things look near and some far in mother/child portrait</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">212</div>
    <div class="item-map__item__question">Identify a technical similarity between Schiele and Kollwitz self-portraits </div>
    <div class="item-map__item__link"><a href="#" data-accordion-id="0">View details above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">199</div>
    <div class="item-map__item__question">Describe two characteristics of charcoal in Kollwitz self-portrait </div>
    <div class="item-map__item__link"><a href="#" data-accordion-id="1">View details above</a></div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">197</div>
    <div class="item-map__item__question">Identify compositional emphasis in Bearden collage</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">192</div>
    <div class="item-map__item__question">Identify an example of Renaissance art</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">187</div>
    <div class="item-map__item__question">Identify an example of 20th century Western art</div>
  </li>
  <li class="item-map__item item-map__item--cut-point">
    <div class="cutpoint-value">172</div>
    <div class="cutpoint-level">75th Percentile</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">171</div>
    <div class="item-map__item__question">Describe and support how memory of place is shown in own collage</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">155</div>
    <div class="item-map__item__question">Explain how artist used light to create a lack of realism in mother/child portrait</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">152</div>
    <div class="item-map__item__question">Explain the relationship between technical approach and meaning in an artist's self-portrait </div>
    <div class="item-map__item__link"><a href="#" data-accordion-id="4">View details above</a></div>
  </li>
  <li class="item-map__item item-map__item--average">
    <div class="average-value">149</div>
    <div class="average-text">Average Score</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">141</div>
    <div class="item-map__item__question">Analyze subject of five mother/child portraits of different genres</div>
  </li>
  <li class="item-map__item item-map__item--cut-point">
    <div class="cutpoint-value">129</div>
    <div class="cutpoint-level">25th Percentile</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">120</div>
    <div class="item-map__item__question">Label and describe one or two features of Bearden collage that the artist wants you to notice</div>
  </li>
  <li class="item-map__item">
    <div class="item-map__item__score">74</div>
    <div class="item-map__item__question">Describe what Schiele self-portrait is communicating or describe an aspect of style, line, or color</div>
  </li>
</ul>
<div class="item-map__scale item-map__scale--bottom">
  <div class="item-map__scale-text">Bottom of scale</div>
  <div class="item-map__scale-value">0</div>
</div>
