<svg class="legend__marker legend__marker--bubble">
  <defs>
    <marker viewBox="0 0 10 10"
            refX="9" refY="5"
            markerWidth="6" markerHeight="6">
      <path class="legend__bubble-line" d="M0,0 L10,5 L0,10z"></path>
    </marker>
    <marker viewBox="0 0 10 10"
            refX="9" refY="5"
            markerWidth="6" markerHeight="6">
      <path class="legend__bubble-line" d="M0,0 L10,5 L0,10z"></path>
    </marker>
  </defs>

  <g class="legend__bubble">
    <text class="bubble__label" y="1em"></text>
    <circle class="bubble__bubble"></circle>
  </g>
  <g class="legend__bubble">
    <text class="bubble__label" y="1em"></text>
    <circle class="bubble__bubble"></circle>
  </g>

  <line class="legend__bubble-line"></line>
</svg>

<p class="legend__description legend__description--bubble">NOTE: The size of each bubble represents the percentage of students in that response category.</p>
