<div class="main__header">
  <div class="section">
    <div class="section__inner">
      <div class="section__contents">
        <ul>
          <li><a href="#/">Home page</a></li>
          <li><a href="#/music/overall-results">Music</a></li>
          <li><a href="#/visual-arts/overall-results">Visual Arts</a></li>
          <li><a href="#/about">About</a></li>
        </ul>

        <ul>
          <li><a href="#/music/overall-results">Overall Results</a></li>
          <li><a href="#/music/student-groups">Scores by Student Group</a></li>
          <li><a href="#/music/score-gaps">Group Score Gaps</a></li>
          <li><a href="#/music/questions-analysis">Sample Questions Analysis</a></li>
          <li><a href="#/music/student-experiences">Student Experiences</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main__inner"></div>
<div class="main__footer"></div>
