<a href="#" data-accordion-header class="accordion__header">
  <div class="accordion__header-text"></div>
  <div class="accordion__header-question-labels">
    <div class="question-labels__classification"></div>
    <div class="question-labels__type"></div>
  </div>
  <div class="accordion__header-bar"></div>
  <div class="accordion__show-hide">show</div>
</a>

<div data-accordion-contents class="accordion__contents accordion__contents--sample-questions" style="display: none">
  <div class="sample-question__share"></div>
  <div class="sample-question__question"></div>
  <div class="sample-question__answer">
    <a class="button sample-question__show-answer-button" href="#" data-answer-button>Show correct answer/scoring guide and commentary</a>
    <div class="sample-question__answer-detail is-hidden"></div>
  </div>
</div>
