<a href="#" data-accordion-header class="accordion__header">
  <div class="accordion__header-text"></div>
  <div class="accordion__header-bar"></div>
  <div class="accordion__show-hide">show</div>
</a>

<div data-accordion-contents class="accordion__contents" style="display: none">
  <div class="accordion__contents__left"></div>
  <div class="accordion__contents__right">
    <div class="question__answer-button">
      <a href="#" data-answer-button>Show correct answer and commentary</a>
    </div>
    <div class="question__answer-contents is-hidden"></div>
  </div>
</div>
