<div class="secondary-nav__wrapper l-constrain">
  <div class="secondary-nav__tiles">
    <div class="secondary-nav__tile tile1">
      <div class="secondary-nav__caption">Overall Results</div>
      <div class="secondary-nav__link"><a data-path="overall-results">Overall Results</a></div>
    </div>
    <div class="secondary-nav__tile tile3">
      <div class="secondary-nav__caption">Student Group Scores and Score Gaps</div>
      <div class="secondary-nav__link"><a data-path="score-gaps">Student Group Scores and Score Gaps</a></div>
    </div>
    <div class="secondary-nav__tile tile5">
      <div class="secondary-nav__caption">Opportunities and Access</div>
      <div class="secondary-nav__link"><a data-path="opportunities-and-access">Opportunities and Access</a></div>
    </div>
    <div class="secondary-nav__tile tile4">
      <div class="secondary-nav__caption">Sample Questions</div>
      <div class="secondary-nav__link"><a data-path="sample-questions">Sample Questions</a></div>
    </div>
  </div>
</div>
