<div class="secondary-nav__wrapper l-constrain">
  <div class="secondary-nav__tiles">
    <div class="secondary-nav__tile tile1">
      <a class="secondary-nav__link" data-path="overall-results">
        <div class="secondary-nav__caption">Overall Results</div>
        <div class="secondary-nav__thumbnail">Overall Results</div>
      </a>
    </div>
    <div class="secondary-nav__tile tile3">
      <a class="secondary-nav__link" data-path="score-gaps">
        <div class="secondary-nav__caption">Student Group Scores and Score Gaps</div>
        <div class="secondary-nav__thumbnail">Student Group Scores and Score Gaps</div>
      </a>
    </div>
    <div class="secondary-nav__tile tile5">
      <a class="secondary-nav__link" data-path="opportunities-and-access">
        <div class="secondary-nav__caption">Opportunities and Access</div>
        <div class="secondary-nav__thumbnail">Opportunities and Access</div>
      </a>
    </div>
    <div class="secondary-nav__tile tile4">
      <a class="secondary-nav__link" data-path="sample-questions">
        <div class="secondary-nav__caption">Sample Questions</div>
        <div class="secondary-nav__thumbnail">Sample Questions</div>
      </a>
    </div>
  </div>
</div>
