<p>Download data tables summarizing:</p>
<ul>
  <li>national sample sizes and participation rates</li>
  <li>inclusion rates and other information about students with disabilities (SD) and English language learners (ELL)</li>
  <li>national average responding scores</li>
  <li>percentage correct results for multiple choice questions</li>
</ul>
<div class="data-submission">
  <a class="button" href="files/2016_arts_appendix_tables.xls">Excel (.xls)</a>
</div>
<div class="data-submission">
  <a class="button" href="files/2016_arts_appendix_tables.pdf">PDF (.pdf)</a>
</div>
