// @file
// Styles for constrained layout elements.

.l-constrain {
  margin-left: auto;
  margin-right: auto;
  width: em($tablet-width);
  padding-left: 1em;
  padding-right: 1em;

  @include breakpoint($desktop-width) {
   	width: em($desktop-width);
  }

  @if breakpoint-get('no queries') == true {
    width: em($max-page-width);
  }
}
