// @file
// Styles for accordions

.accordion {
	margin-left: 1em;
}

.accordion__header {
	align-items: center;
	border-bottom: 1px solid $orange-100;
	display: flex;
	margin: 1.5em 0 0;
	position: relative;
	text-decoration: none;
	width: 100%;

	.is-expanded & {
		border-color: $green-100;
	}
}

.accordion__header-text {
	color: $orange-100;
	display: inline-block;
	font-size: .875em;
	font-weight: 700;
	line-height: 1.2rem;
	margin-right: rem(35px);
	min-height: rem(46px);
	padding: 0 0 .5em;
	width: 225px;

	@include breakpoint($desktop-width) {
		width: 425px;
	}

	.is-expanded & {
		color: $green-100;
	}
}

.accordion__show-hide {
	bottom: 8px;
	color: $orange-100;
	font-size: .875em;
	font-weight: 700;
	height: 16px;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: lowercase;
	width: 40px;

	&:after {
		border-color: $orange-100 transparent transparent transparent;
		border-style: solid;
		border-width: 13px 12.5px 0 12.5px;
		bottom: -22.5px;
		content: '';
		height: 0;
		position: absolute;
		right: 8px;
		top: auto;
		width: 0;
	}

	.is-expanded & {
		bottom: -20px;
		color: $green-100;

		&:after {
			border-color: transparent transparent $green-100 transparent;
			border-width: 0 12.5px 13px 12.5px;
			bottom: auto;
			top: -16.5px;
		}
	}
}

.accordion__contents {
	background-color: $green-35;
	padding: 2em 1.5em;
}

.accordion__contents--sample-questions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include breakpoint($desktop-width) {
		flex-wrap: nowrap;
	}
}

.accordion__header-bar {
    display: inline-block;
}

.accordion__header-bar .header-bar {
	display: flex;
	align-items: center;
}
.accordion__header-bar .header-bar line.y-axis {
    stroke: grey;
    stroke-width: 3px;
}

.accordion__header-bar .header-bar rect.bar {
    &__background {
        fill: #fff;
        stroke-width: 1px;
        stroke: $taupe-70;
    }

    &__percent {
        fill: $blue-100;
    }
}

.accordion__header-bar .header-bar-label {
	color: $blue-100;
	line-height: 1;
	margin-left: 5px;
	max-width: 270px;

	@include breakpoint($desktop-width) {
		max-width: 320px;
	}
}

.accordion__header-bar .header-bar-label .header-bar-label__value {
	font-size: 1.5em;
	font-weight: 700;
}

.accordion__header-bar .header-bar-label .header-bar-label__percent {
	font-size: .75em;
	font-weight: 700;
}

.accordion__header-bar .header-bar-label .header-bar-label__category {
	font-size: .75em;
}
