.acl-row {}

.acl-row__bar {
    &--bb {
      fill: $acl-bb;
    }

    &--ba {
      fill: $acl-ba;
    }

    &--pr {
      fill: $acl-pr;
    }

    &--ad {
      fill: $acl-ad;
    }
}

.acl-row__label {
    text-anchor: end;
    @include fade-in-out(500ms);
}

.acl-row__text {
    text-anchor: middle;

    &.is-shifted-right {
      text-anchor: start;
    }
}

