.bar {}

.bar--gap__bar,
.bar__bar {
	fill: $blue-100;
}

.bar--gap__text,
.bar__text {
	fill: $blue-100;
	font-size: .875em;
	font-weight: 700;

    .bar--no-data & {
        fill: $black-80;
    }
}

.bar--gap__text-value,
.bar__text-value {
	font-size: 1.375rem;
}

.chart--bar--stacked .bar__text {
    text-anchor: middle;
}
