// @file
// Styles for boxes on homepage

.box {}

.box__row {
	clear: left;
	margin: 0 0 2em;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&.box__row--last {
		margin-bottom: 0;
	}
}
.box {
	background: $taupe-20;
	float: left;
	margin: 0 1em .25em 0;
	position: relative;
    @include breakpoint($tablet-width) {
        min-height: 366px;
        width: 175px;
    }
    @include breakpoint($desktop-width) {
        min-height: 400px;
        width: 238px;
    }
	&:before {
		background: url(img/corner-fold--green.png) no-repeat top right;
		content: '';
		height: 36px;
		position: absolute;
		right: 0;
		top: 0;
		width: 36px;
	}
	.box__content {
		padding: 2em 1.5em 1em;
		text-align: left;
		&.box__content--centered {
			padding: 2.5em .25em 1em;
			text-align: center;
			img {
				width: 60%;
			}
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		p {
			color: $blue-100;
			line-height: 1.5em;
			margin: 0;
            @include breakpoint($tablet-width) {
                font-size: 1em;
            }
            @include breakpoint($desktop-width) {
                font-size: 1.125em;
            }
		}
	}
}
.area--context .box:before {
	background: url(img/corner-fold--green-on-gray.png) no-repeat top right;
}
