// @file
// Styles for buttons.

.button {
  @extend %button;
}

.button--large {
  @extend %button--large;
}

.button--arrow {
    background: $orange-100 url(../images/arrow-pullright--small.png) no-repeat center right;
    background-size: auto 100%;
    border-top: 1px solid $orange-75;
    border-bottom: 2px solid $orange-135;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding: .35em 2.75em .35em .75em;
    text-decoration: none;
    text-transform: none;

    + .button--arrow {
        margin-top: 0.7em;
    }

    &:focus,
    &:hover {
        color: $orange-135;
        outline: 0;
    }

    @include breakpoint($desktop-width) {
		margin-top: 0;
        margin-right: 0.7em;
        display: inline;
	}
}

.button-w-arrow {
    font-size: 1.1875em;
    font-weight: 400;
    padding: 0.25em 1em;
    position: relative;
    text-align: left;

    &:after {
        @include svg-background(arrow-white-right);
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-size: auto 19px;
        content: '';
        margin-top: -9.5px;
        position: absolute;
        height: 19px;
        right: 10px;
        top: 50%;
        width: 12px;
    }
}
