.featured-image {
	align-items: center;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1em;
	vertical-align: top;
}

.featured-image__title {
	color: $green-100;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 .5em;
	padding: .75em 1em 1em;
	text-align: center;

	@include breakpoint($desktop-width) {
		font-size: 18px;
	}
}

.featured-image__image {
	display: block;
	margin: 0 auto 1em auto;
	height: 150px;
	vertical-align: bottom;
	width: auto;

	@include breakpoint($desktop-width) {
		height: 184px;
		width: auto;
	}
}

.featured-image__links {
	padding: 0 .5em;
	text-align: center;
	width: 100%;
}

.featured-image__links h4 {
	color: $black-70;
	font-size: 12px;
	font-weight: 600;
}

.featured-image__links .button {
	display: block;
	margin: .5em auto;
	width: 90%;
}

.featured-image__links .button + .button {
	margin-left: auto;
}
