// Definition: a "figure" is a labeled block with three required components:
// * a title
// * a legend
// * an "inner" area for whatever the figure wraps
//
// Figures may have controls associated with them.
//
// Elements:
// * figure__title: This figure's title. (Replaces the old .chart__title class)
// * figure__legend: This figure's legend. May be empty.
// * figure__contents: Container for the thing this figure wraps, be it a chart, table,
//   or even a static image.
// * figure__controls (not yet implemented): Holds any controls that may modify the figure.
//   (Think the baseline selectors for the achievement-level charts).
//
// Discussion:
// The "figure" block is intended to free up the "chart" namespace for actual charting elements.
// It's a concept we use frequently, so it seems to make sense to bless it as a real thing
// rather than one created implicitly.

.figure {
  margin: 0 0 2em;
  padding: 0;
  width: 100%;
}

.figure__contents-wrapper {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint($desktop-width) {
        flex-wrap: nowrap;
    }
}

.figure__contents {
    display: inline-block;
    width: 768px;

    & > svg {
      display: block;
      margin: 0 auto;
    }

    .accordion & {
        width: auto;
    }
}

.figure__legend {
    display: inline-block;
    margin: 1em 0 0;
    vertical-align: top;

    .accordion & {
        margin: 1em 1em 0;
    }
}

.figure__title {
    color: $black-60;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.3;
    margin: 1em 0;
    max-width: rem(760px);
    position: relative;
    text-align: left;
}

.figure__instructions {
    background: $taupe-30;
    color: $taupe-130;
    display: block;
    font-size: .875em;
    font-weight: 700;
    line-height: 1.2;
    margin: 2em 0 3em;
    min-height: 28px;
    padding: 6px 1em 6px 120px;
    position: relative;

    &:before {
      background: url(../img/click-data-point.png) no-repeat top left;
      content: '';
      height: 53px;
      left: 40px;
      position: absolute;
      top: -9px;
      width: 70px;
    }
}

.figure__share {
    position: relative;
}
