.findings {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: .5em;
}

.finding--one-third {
    display: inline-block;
    flex-basis: 33%;
    padding: 0 1.5em;
    text-align: center;
}
