.footer-content {}

.footer-content__tables-title {
    float: left;
    width: 120px;

    @include breakpoint($desktop-width) {
        width: 170px;
    }

    h2 {
        color: #fff;
        font-size: 2em;
        font-weight: 800;
        line-height: 1em;
        margin: 30px 0 5px;
        text-transform: uppercase;

        @include breakpoint($desktop-width) {
            font-size: 3em;
        }
    }
    h3 {
        color: $orange-100;
        font-size: .875em;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;

        @include breakpoint($desktop-width) {
            font-size: 1.25em;
        }
    }
}

.footer-content__table {
    border-right: 3px solid #fff;
    color: #fff;
    float: left;
    margin-bottom: -5px;
    padding-bottom: 2em;
    width: 440px;

    @include breakpoint($desktop-width) {
        width: 540px;
    }

    p {
        font-size: 1em;
        line-height: 1.1em;
        margin: 30px 0 1em;
    }

    .data-selection {
        display: inline-block;

        select {
            background-color: #fff;
            border: none;
            color: #a19787;
            font-size: .875em;
            min-width: 200px;
            padding-top: .5em;
            padding-bottom: .5em;

            &::-ms-expand {
                display: none;
            }

            @include breakpoint($desktop-width) {
                min-width: 235px;
            }
        }

        label {
            @extend %element-hidden;
        }
    }

    .data-submission a {
        border: 1px solid #fff;
        display: block;
        margin: 5px 0 0 125px;
        text-transform: none;
        width: 130px;

        @include breakpoint($desktop-width) {
            margin: 5px 0 0 168px;
        }

        &:hover,
        &:focus {
            border: 1px solid #fff;
        }

        &:focus {
            background-color: $orange-100;
        }
    }
}
