.footer-content {}

.footer-content__tables {
    border-right: 3px solid #fff;
    flex-basis: 70%;
}

.footer-content__tables-title {
    float: left;
    width: 120px;

    @include breakpoint($desktop-width) {
        width: 170px;
    }

    h2 {
        color: #fff;
        font-size: 2em;
        font-weight: 800;
        line-height: 1em;
        margin: 30px 0 5px;
        text-transform: uppercase;

        @include breakpoint($desktop-width) {
            font-size: 3em;
        }
    }
    h3 {
        color: $orange-100;
        font-size: .875em;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;

        @include breakpoint($desktop-width) {
            font-size: 1.25em;
        }
    }
}

.footer-content__table {
    color: #fff;
    float: left;
    margin-bottom: -5px;
    padding-bottom: 1em;
    width: 370px;

    @include breakpoint($desktop-width) {
        width: 500px;
    }
}

.footer-content__table p {
    font-size: .875em;
    line-height: 1.1em;
    margin: 30px 0 1em;
}

.footer-content__table ul {
    margin: 0 0 1em;
}

.footer-content__table li {
    background: url(../images/bullet--orange.png) no-repeat 0 3px;
    font-size: .8125em;
    line-height: 1.4;
    list-style: none;
    padding: 0 10px 8px 20px;
}

.footer-content__table .data-selection {
    display: inline-block;

    select {
        background-color: #fff;
        border: none;
        color: #a19787;
        font-size: .75em;
        max-width: 365px;
        min-width: 200px;
        padding-top: .5em;
        padding-bottom: .5em;

        &::-ms-expand {
            display: none;
        }

        @include breakpoint($desktop-width) {
            font-size: .875em;
            max-width: 500px;
            min-width: 235px;
        }
    }

    label {
        @extend %element-hidden;
    }
}

.footer-content__table .data-submission {
    display: inline-block;
    margin: 5px 0 0;
}

.footer-content__table .data-submission a {
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
    padding: .625em 1em;
    text-transform: none;
    width: 135px;

    &:hover,
    &:focus {
        background-color: $orange-135;
        border: 1px solid #fff;
    }

    &:focus {
        background-color: $orange-100;
    }
}

.footer-content__table .data-submission span {
    display: block;
    margin-top: .5em;
    text-align: center;
}
