.gap-selector {
    color: $black-70;
	display: table;
    font-size: .875em;
    font-weight: 700;
    margin: 0 rem(10px) 0 0;
    position: relative;
    text-transform: uppercase;
}

.gap-selector__row {
    display: table-row;

    // &:nth-child(2) {
    // 	.gap-selector__cell:nth-child(2) {
    // 		font-size: 2em;
    // 	}
    // }
}

.gap-selector__cell {
    display: table-cell;
    vertical-align: top;

    &:nth-child(2) {
    	// padding: 0 2em;
    	// text-align: center;
        // padding: 0 1em;
    	// vertical-align: top;
    }
}
.gap-selector__button i[class*=fa-plus-circle]::before {
    color: #c69214;
    font-size: 3em;
    text-align: center;
    background: transparent; 
    margin: 0 0.3em;
}
