.grade-switcher {
    [role=radio] {
        background-color: $radio-inactive;
        color: #fff;
        display: inline-block;
        padding: 0.5em;
        text-align: center;
        width: 10em;

        &[aria-checked=true] {
          background-color: $radio-active;
        }
    }
}
