.img-wrapper {
	background-color: #fff;
	margin: 2em 0 1em;
	padding: .75em;
}

.img-wrapper img {
	width: 100%;
}

.img-wrapper p {
	font-size: .75em;
	margin: 0;
	padding: 1em 0 0;
	text-align: center;
}
