// Definition: a "legend" is a block containing a list of symbols and their descriptions.
// The symbols may be graphical or textual. If textual, they more often than not are a single
// character (e.g., "*" to indicate stastical significance).
//
// Elements:
// * legend__note: Ancillary "NOTE:" information. Often a long string of text. Does not contain a symbol of any kind.
// * legend__item: A legend item. Has two children: a marker and its description.
// * legend__marker: A legend marker.
// * legend__description: The description of the legend symbol.
//
// Modifiers:
// * legend__marker--path: Indicates that the marker is an SVG element containing
//   vector data.
// * legend__marker--text: Indicates that the marker is a <p> tag containing a textual
//   symbol.

%legend__path {
  @extend %path;

  // Indicates that the user has clicked on this series to focus in on it.
  .is-active & {
    @extend %path--selected;
  }

  // Indicates that the user has clicked on some other series to focus in.
  .is-inactive & {
    @extend %path--unselected;
  }

  // Note: we don't use the :hover pseudo-class because the hover information
  // may have come from the associated chart rather than this item directly.
  // It seems easier for the code to unconditionally use the 'is-hover' class
  // than to distinguish between a hover here and a hover there.
  .is-hover & {
    @extend %path--hover;
  }

  @each $tag in map-keys($map: $percentile-colors) {
    [data-tag=#{$tag}] & {
      @extend %path--#{$tag};
    }
  }
}

.legend {
    background: #fff;
    border: 1px solid $black-40;
    margin-bottom: 1em;
    width: $legend-width;

    .accordion & {
        padding: 1em 0;
    }

  &.is-empty {
    visibility: hidden;
  }
}

.legend__note {
    font-size: smaller;
    padding-top: 0.25em;

    &:before {
      content: "NOTE: ";
    }
}

.legend__item {
    display: table-row;
    min-height: $legend-height;
    position: relative;
}

.legend__item--bubble {
    display: unset;
}

.bubble__label {
    text-anchor: middle;
}

.legend__bubble-line {
    stroke: $axis;
    fill: $axis;
}

.legend__marker {
    display: table-cell;
    height: $legend-item-height;
    padding: 10px 0 10px 10px;
    width: $legend-item-width;
}

.legend__marker--text {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.legend__marker--path path {
    @extend %legend__path;
    fill: white;
}

.legend__marker--gap-significant path {
    fill: $brand-blue;
}

.legend__marker--gap-not-significant path {
    fill: grey;
}

.legend__marker + .legend__description {
    text-align: left;
    width: $legend-width - $legend-item-width;
}

.legend__description {
    display: table-cell;
    font-size: smaller;
    min-height: $legend-height;
    padding: 1em;
    text-align: center;
    transition: opacity 250ms 0s;
    vertical-align: middle;
    width: auto;

    var {
      font-style: italic;
    }

    .is-inactive & {
      opacity: 0.125;
    }

    .is-hover & {
      opacity: 1;
    }

    .legend__item.legend__item--target & {
        font-style: italic;
    }
}

.legend__bubble {
    .bubble__bubble {
        fill: $blue-100;
    }
}
