.main__header {
	background: $green-100;
	height: 16px;

	.about & {
		height: 0;
	}
}

.main__inner {
	padding-top: 0;
}

.main__footer {
	padding: 0 0 3em;
}

.main__footer--gray {
	background: $taupe-15;
}
