.note {
    padding: 1em 0 0;
}

.section--gray .note,
.main__footer--gray .note {
    background: $taupe-15;
}

.section--gray .note .note__header,
.main__footer--gray .note .note__header {
    background-color: $taupe-5;
    background-image: url("../images/note-fold--gray.png");
}

.section--gray .note .note__content,
.main__footer--gray .note .note__content {
    background: #fff;
}

.note__header {
    background-color: $taupe-10;
    background-image: url("../images/note-fold--white.png");
    background-position: right top;
    background-repeat: no-repeat;
    border-bottom: 1px solid $taupe-70;
    padding-right: 2em;
}

.note__show-hide {
    color: $orange-100;
    display: block;
    font-size: .875em;
    font-weight: 700;
    padding: rem(7px) 0;
    text-decoration: none;

    &:hover,
    &:focus {
    	color: $orange-100;
    	text-decoration: none;
    }

    span {
        background-image: url("../images/arrow-orange-down.png");
        background-position: right center;
        background-repeat: no-repeat;
        padding: 0 rem(30px) 0 rem(20px);
    }

    .is-expanded & {
        color: $orange-100;

        span {
            background-image: url("../images/arrow-orange-up.png");
        }
    }
}

.note__content {
    background-color: #ebebeb;
    color: #000;
    font-size: .75em;
    font-weight: 400;
    padding: rem(15px) rem(20px);
    z-index: 50;

    div {
        margin-bottom: 0.75em;

        &:last-child {
        	margin-bottom: 0;
        }
    }
}

.note--sample-question {
    color: #000;
    font-size: .75em;
    font-weight: 400;

    > div {
        margin-bottom: .5em;
    }
}
