.print {
 	float: right;
}

.print__link {
	background: none;
	color: #fff;
	display: block;
	font-size: .5625em;
	padding-top: 34px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	top: -6px;

	&:hover,
	&:focus  {
		color: #fff;

		&:before {
			background-color: $green-100;
		}
	}

	&:before {
		background-color: $orange-100;
		@include svg-background(icon-print);
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: 21px auto;
		border-radius: 50%;
		content: '';
		display: inline-block;
		height: 32px;
		left: 50%;
		margin-left: -16px;
		position: absolute;
		top: 0;
		width: 32px;
	}
}
