// @file
// Styles for rows

.row--two,
.row--three {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 2em 0 .25em;
}

.row__item--one-of-two {
	border-right: 3px solid $taupe-25;
	display: inline-block;
	flex-basis: 50%;
	width: 50%;

	&:last-of-type {
		border: none;
	}
}

.row__item--one-of-three {
	border-right: 3px solid $taupe-25;
	display: inline-block;
	flex-basis: 33.33%;
	width: 33.33%;

	&:last-of-type {
		border: none;
	}
}

.row__note {
    flex-basis: 100%;
    font-size: $font-size-sm;
    padding: .25em 0;
    text-align: right;
    width: 100%;
}
