.sample-question {}

.sample-question__question,
.sample-question__answer {
    flex-basis: 100%;

    @include breakpoint($desktop-width) {
        flex-basis: 48%;
    }
}

.sample-question__question {
	img + p {
		margin-top: 1em;
	}
}

.sample-question__question textarea {
	margin: 1em 0 0 5px;
	min-height: 80px;
	width: 95%;
}

.sample-question__question p {
	margin: 0 0 1em;
}

.sample-question__question form {
	font-size: .875em;
	margin: 1em 0;
}

.sample-question__answer h5 {
	margin-bottom: .25em;
}

.sample-question__answer p {
	font-size: .875em;
	line-height: 1.4;
	margin: .5em 0 1em;
}

.sample-question__share {
    position: relative;
}


