// Definition: a "section" is what we currently call the "chart__section" class.
// A section contains these elements (at time of writing, all but "section__inner" are unimplemented):
// * section__inner: The 'inner' element is included in order to implement width enforcement per our style guidance.
// * section__title: The headline for this section.
// * section__controls: Any controls that modify this section (think the grade switcher)
// * section__subtitle: Currently the "chart__section__desc" class.
// * section__commentary: Commentary for this particular section.
// * section__contents: Currently used to denote the inner figure (if there is one). Could be repurposed.

// Note that figures embedded in a section are intended to control their own legend and title, so those elements
// are no longer needed at the section level.

.section {
    padding: 4em 0;
}

.section__inner {
    @extend .l-constrain;
}

#section-1 {
  padding-top: 2em;
}

#section-2,
#section-4 {
  background: $taupe-15;
  position: relative;

  &:before {
    border-color: #fff transparent transparent
    transparent;
    border-style: solid;
    border-width: 39px 219px 0 219px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -219px;
    position: absolute;
    top: 0;
    width: 0;
  }
}

#section-3,
#section-5 {
  background: #fff;
  position: relative;

  &:before {
    border-color: $taupe-15 transparent transparent
    transparent;
    border-style: solid;
    border-width: 39px 219px 0 219px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -219px;
    position: absolute;
    top: 0;
    width: 0;
  }
}

.section__title {
    color: $green-100;
    font-size: 1em;
    font-weight: 700;
    margin: .25em 0;
    text-align: left;
    text-transform: uppercase;
}

.section__subtitle {
    color: $blue-100;
    font-size: 1.6875em;
    font-weight: 400;
    margin: .5em 0;
    max-width: $max-contents-width;

    span {
      font-weight: 700;
    }
}

.section__commentary {
    color: $black-70;
    font-size: .875em;
    line-height: 1.4;
    margin: 2em 0;
    max-width: $max-contents-width;
}

.section__controls {
    margin: .25em 0;
}

.section__contents {
    margin: 2em 0;
}
