.share {
  width: 32px;
  padding: 2px;
  overflow: visible;

  &__header {
    font-size: smaller;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: $darker-grey;

    position: relative;
    left: -0.5em;
  }

  a {
    display: inline-block;
    text-indent: -999em;
    height: 32px;
    width: 32px;

    background-color: $brand-gold;
    background-position: center;
    background-repeat: no-repeat;

    &[data-download] {
      background-image: url(img/icon-download.png);
    }
  }
}

.figure__share {
  position: relative;

  & > .share {
    position: absolute;
    top: 0;
    left: -45px;
  }
}
