$share-icon-height: 38px;
$share-background: #f5f4f1;

.share {
  background-color: $share-background;
  display: inline-block;
  left: 0;
  margin: 5px 0 5px 55px;
  padding-left: 5px;
  position: relative;
  top: 0;
  z-index: 200;

  @include breakpoint($desktop-width) {
    margin: 24px 0 0;
    padding: 5px 0 0;
    position: absolute;
    left: -67px;
    top: 5px;
    width: 42px;
  }

  &:before {
    color: $share-text;
    content: 'SHARE';
    font-size: 13px;
    font-weight: 700;
    left: -57px;
    padding: 0 5px;
    position: absolute;
    top: 11px;

    @include breakpoint($desktop-width) {
      left: 0;
      padding: 0;
      top: -24px;
    }
  }

  .accordion__chart &, .accordion__contents--sample-questions & {
    @include breakpoint($desktop-width) {
        left: -91px;
    }
  }
}

.share > a {
    @include svg-background(icon-share);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    margin: 5px 5px 5px 0;
    text-indent: -999em;
    width: 32px;

    &:hover,
    &:focus {
      opacity: .8;
    }

    @include breakpoint($desktop-width) {
        margin: 0 5px 5px;
    }
}

.share__drawer {
    display: none;
    float: right;

    @include breakpoint($desktop-width) {
      float: none;
    }
}

.share__drawer > a {
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    display: inline-block;
    height: $share-icon-height;
    margin: 5px 5px 5px 0;
    text-indent: -999em;
    width: $share-icon-height;

    @include breakpoint($desktop-width) {
      display: block;
      margin: 0 auto 5px;
    }

    &:hover,
    &:focus {
      opacity: .8;
    }

    &[data-facebook] {
      background-color: #166290;
      @include svg-background(icon-facebook);
      background-position: 70% 108%;
    }
    &[data-twitter] {
      background-color: #00b7ec;
      @include svg-background(icon-twitter);
    }
    &[data-email] {
      background-color: $orange-100;
      @include svg-background(icon-envelope);
    }
    &[data-link] {
      background-color: $orange-100;
      @include svg-background(icon-link);
    }
    &[data-download] {
      background-color: $orange-100;
      @include svg-background(icon-chart);
    }
}

.share__permalink-popup {
    display: none;

    input {
      font-size: 14px;
      min-width: 500px;
      padding: 5px;
    }
}
