// Table styles.
// We should use a 'table' class in order to ensure that the base style is opt-in.
// This should (hopefully!) avoid clashes with special tables that need their own styling.

%table__cell {
  padding: 0.5em;
  text-align: center;
}

.table {
    width: 98%;

    &--full-width {
        @extend %u-full-width;
    }
}

.table td {
    @extend %table__cell;
}

.table th {
    @extend %table__cell;
    font-weight: bold;
}

.table thead {
    color: $table-header-fore;
    background-color: $table-header-back;
}

.table tbody tr {
    &:nth-child(odd) {
        background-color: $table-odd;
    }

    &:nth-child(even) {
        background-color: $table-even;
    }
}


// Sample Question table styling

.table--sample-question {
    border: 1px solid $taupe-70;
    margin: 1em 0 .5em;
}

.table--sample-question thead {
    background-color: #fff;
    color: inherit;
    font-size: .875em;
}

.table--sample-question tbody tr {
    background-color: #fff !important;
    color: $blue-100;

    &:last-child {
        td {
            border-bottom: none;
        }
    }
}

.table--sample-question td {
    border: 1px solid $taupe-70;
    border-width: 0 2px 2px 0;

    &:last-child {
        border-right: none;
    }
}

.table--sample-question td .correct {
    color: $green-100;
    font-size: 1.25em;
}


// Heat table styling

.table--heat {
    border: 1px solid $table-border;
    font-size: .875em;
}

.table--heat thead {
    background-color: #ebebeb;
    color: $black-90;
}

.table--heat thead th,
.table--heat thead td {
    line-height: 1.4;
}

.table--heat tbody {
    color: $black-90;
}

.table--heat tbody tr {
    &:nth-child(odd),
    &:nth-child(even) {
        background-color: #fff;
        border-top: 2px solid $table-border;
    }
}

.table--heat tbody th,
.table--heat tbody td {
    font-weight: 400;
    line-height: 1.2;
}

.table--heat th,
.table--heat td {
    border-right: 2px solid $table-border;

    &:last-child {
        border: none;
    }
}

// Table cell colors

.table__cell--zero {
    background-color: $taupe-10;
}
.table__cell--lt10 {
    background-color: $blue-15;
}
.table__cell--gt10,
.table__cell--gt20 {
    background-color: $blue-25;
}
.table__cell--gt30 {
    background-color: $blue-35;
    color: #fff;
}
.table__cell--gt40 {
    background-color: $blue-65;
    color: #fff;
}
.table__cell--gt50 {
    background-color: $blue-100;
    color: #fff;
}

// Groups table

.table--groups thead tr:first-child th:first-of-type {
    padding-left: 2em;
    text-align: left;
}

.table--groups tbody th {
    padding: 0.5em 2em;
    text-align: left;
    width: 35%;
}

.table--groups tbody th.indent {
    padding-left: 3em;
}
