// Table styles.
// We should use a 'table' class in order to ensure that the base style is opt-in.
// This should (hopefully!) avoid clashes with special tables that need their own styling.

%table__cell {
  padding: 0.5em;
  text-align: center;
}

.table {
    width: 95%;

    &--full-width {
        @extend %u-full-width;
    }
}

.table td {
    @extend %table__cell;
}

.table th {
    @extend %table__cell;
    font-weight: bold;
}

.table thead {
    color: $table-header-fore;
    background-color: $table-header-back;
}

.table tbody tr {
    &:nth-child(odd) {
        background-color: $table-odd;
    }

    &:nth-child(even) {
        background-color: $table-even;
    }
}

.table--sample-question {
    border: 1px solid $taupe-70;
    margin: 1em 0 .5em;
}

.table--sample-question thead {
    background-color: #fff;
    color: inherit;
    font-size: .875em;
}

.table--sample-question tbody tr {
    background-color: #fff !important;
    color: $blue-100;

    &:last-child {
        td {
            border-bottom: none;
        }
    }
}

.table--sample-question td {
    border: 1px solid $taupe-70;
    border-width: 0 2px 2px 0;

    &:last-child {
        border-right: none;
    }
}

.table--sample-question td .correct {
    color: $green-100;
    font-size: 1.25em;
}
