%u-clearfix {
  clear: both;
}

%u-display-none {
  display: none;
}

%u-full-width {
  width: 100%;
}

.u-semibold {
	font-weight: 600;
}

.u-color-blue {
	color: $blue-100;
}

.u-color-green {
	color: $green-100;
}

.u-font-small {
	font-size: rem($font-size-sm);
}

.u-font-large {
	font-size: rem($font-size-lg);
}

.u-font-huge {
	font-size: rem(72px);
	line-height: 1;
}

.u-uppercase {
	text-transform: uppercase;
}

.u-margin-none {
	margin: 0;
}

.u-margin-quad {
	margin: 4em 0;
}

.u-margin-no-top {
	margin-top: 0;
}

.u-margin-single-top {
	margin-top: 1em;
}

.u-margin-double-top {
	margin-top: 2em;
}

.u-margin-triple-top {
	margin-top: 3em;
}

.u-pdf {
	background: url("../images/icon-pdf.png") no-repeat left center;
    color: $blue-100;
    font-size: .875em;
    padding-left: 25px;
}

.u-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.u-text-align-center {
	text-align: center;
}


// This utility class has the penultimate precedence.
.is-hidden {
  display: none !important;
}
