%u-clearfix {
  clear: both;
}

%u-display-none {
  display: none;
}

%u-full-width {
  width: 100%;
}

.u-semibold {
	font-weight: 600;
}

.u-color-blue {
	color: $blue-100;
}

.u-color-green {
	color: $green-100;
}

.u-font-small {
	font-size: rem($font-size-sm);
}

.u-font-large {
	font-size: rem($font-size-lg);
}

.u-font-huge {
	font-size: rem(72px);
	line-height: 1;
}

.u-margin-none {
	margin: 0;
}

.u-margin-single-top {
	margin: 1em 0 0;
}

.u-margin-double-top {
	margin: 2em 0 0;
}

.u-margin-triple-top {
	margin: 3em 0 0;
}

.u-pdf {
	background: url("/img/icon-pdf.png") no-repeat left center;
    color: $blue-100;
    font-size: .875em;
    padding-left: 25px;
}

.u-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// This utility class has the penultimate precedence.
.is-hidden {
  display: none !important;
}
